.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-links {
  text-decoration: none;
  color: #996699;
   }

.nav-bar {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  }

.app-title {
  margin: 4rem 0 4rem 0;
  color: #83365c;
}

.login-form-div {
  border: 2px solid lightgray;
  box-shadow: 0 0 10px 5px lightgray;
  width: 45%;
  margin: 0 auto;
  height: 430px;

  .login-title {
    margin-top: 4rem;
    
  }

  input {
    // border: 2px solid red; 
    display: flex;
    margin: 0 auto;
    width: 28%;
    height: 1.8rem;
  }

  .login-button {
    width: 29%;
    height: 1.8rem;
    margin-top: 1rem;
    background: #457B9D;
    color: white;
    padding: 1rem 0 1.5rem 0;
    font-size: 1rem;
  }

  .create-acct {
  margin: 8rem 0 0 1rem;
  width: 95%;
  padding-top: 1rem;
  border-top: 2px solid lightgray;
  
  
  }
  
}

.acct-link {
text-decoration: none;
color: rgb(67, 128, 214)
}

// Message form styling

.msg-form {
  border: 2px solid lightgray;
  margin: 0 auto;
  width: 60%;
  height: 420px;

  .msg-name {
    // border: 2px solid green;
    position: relative;
    top: -10rem;
    margin: 2rem 0 0 1rem;
    padding: .2rem;
    
  }

  .name-title {
    position: relative;
    left: -.05rem;
    top: -9.8rem;
    color: white;
    text-shadow: 2px 2px 3px #282c34;
  
  }

  .date-title {
    // border: 2px solid purple; 
    position: relative;
    left: -12rem;
    top: -12.3rem;
    color: white;
    text-shadow: 2px 2px 3px #282c34;
     
  }

  .msg-date {
    // border: 2px solid purple;  
    position: relative;
    top: -16rem;
    margin: 2rem 0 0 2rem;
    padding: .2rem;
  }
}

.msg-title {
  position: relative;
  left: 8.3rem;
  top: -15rem;
}

.msg-box {
  height: 250px;
  width: 250px;
  position: relative;
  top: -8rem;
  margin: 2rem 0 0 1rem;
  padding: .2rem;
}

.msg-btn {
  position: relative;
  top: -8rem;
  margin: 0 0 0 10rem;
  }
